.box{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(240, 235, 235);
    font-weight: bold;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, opacity 0.3s ease;
    cursor: pointer;
    

}
.box:hover {
    transform: scale(1.05);
    opacity: 0.9;
}
.container { display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;

}